<h2>Por Capital</h2>

<hr>

<div class="row">
  <div class="col">
    <!-- Search Box -->
    <!-- <app-search-box (onValue)="searchByCapital($event)" placeholder="Buscar Por Capital"></app-search-box> -->
    <app-search-box (onDebounce)="searchByCapital($event)" placeholder="Buscar Por Capital"></app-search-box>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <shared-loading *ngIf="isLoading"></shared-loading>
    <!-- Table Result -->
    <country-table [countries]="countries"></country-table>
  </div>
</div>
